# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,ts,js,vue,json,yml,yaml}]
indent_style = space
indent_size = 2

# C# files
[*.cs]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Solution and project files
[*.{sln,csproj}]
indent_style = tab

# Makefile
[Makefile]
indent_style = tab

# Batch files
[*.{cmd,bat}]
end_of_line = crlf
