# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/
.nuxt/
.output/
playwright-report/
test-results/

# Backend
src/backend/bin/
src/backend/obj/
*.dll
*.exe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git/
.github/
